<br>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Company Listings</h2>
          </div>
          <div class="panel-body">
            <company-list></company-list>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Add A Company</h2>
          </div>
          <div class="panel-body">
    
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Add A Person</h2>
          </div>
          <div class="panel-body">

          </div>
        </div>
      </div>
    </div>
  </div>
